<style>
  .navbar{
    background: rgba(255, 255, 255, 0.9); /* light transparent */
    backdrop-filter: blur(8px);           /* glassmorphism blur */
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 100%;
  }
  /* Nav links */
    .navbar-nav .nav-link {
      margin: 0 0.5rem;
      transition: all 0.3s ease;
    }
    .navbar-nav .nav-link:hover {
      color: #fe424d;
      transform: translateY(-2px);
    }

  .search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
    
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem !important;
    font-size: 1rem;
  }
  @media(max-width: 576px) {
    .search-inp {
      border-radius: 25px;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      font-size: 0.85rem;
      
    }
    .search-btn{
      font-size: small;
      padding: 0 0.85rem ;
    }
  }
 
  
    
  
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
    </div>

    <div class="navbar-nav">
      <form class="d-flex" role="search" method="GET" action="/listings">
        <input 
         class="form-control me-2 search-inp" 
         type="search" 
         placeholder="Search destinations" 
         name="q"
        />
        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) {%>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <%}%>
        <% if(currUser) {%>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <%}%>
      </div>
    </div>

  </div>

  
  
  
</nav>